* {
	margin: 0;
	padding: 0;
}

#wrapper {
	margin:0 auto;
	height: 100vh;
	width: 100%;
}

#menu{
	overflow: auto;
	float: left;
	height: 100%;
	width: 80%;
	background: #f2f2f2;
}
	#menu li{
		font-size: 18px;
	}

#lyrics{
	float: right;
	height: 100%;
	width: 19%;
}

.playing{
	background: #ff00ff;
}

#player{
	position: absolute;
	left: 0;
	bottom: 0;
}

.video {
	position: fixed;
    width: 30%;
	left: 0;
	bottom: 0;
}

.video-container {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 30px;
	height: 0;
	overflow: hidden;
}

	.video-container iframe, .video-container object, .video-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}